*:before , *:after{
  display: none;
}
* {
  font-family: 'Inter', sans-serif;
}
.navbar {
  background-color: #393E46;
  height: 60px;
}
.container-fluid a {
  color: #F2E7D5;
}
.navbar-nav {
  padding-top: 20px;
}
.cust_cards{
  background-color: darkslategray;
}
.row .gx-5{
  width: 80%;
  margin: auto;
  padding-top: 100px;
}
.bg{
  background-color: darkslategray;
}
.social-medias {
  padding-top: 25px;
}
.social-medias li{
  padding-left: 15px;
}
.social-medias li:nth-child(1){
  padding-left: 0;
}
.see-proj{
  height: 60px;
  background-color: #393E46;
  border: none;
}
.card img{
  width: 283px;
  height: 150px;
}
.row .g-0{
  height: 300px;
}
.col-md-4 img{
  width: 600px;
}
.recent{
  padding: 20px;
  display: flex;
  gap: 40px;
}
.recent hr{
  width: 67%;
  height: 1px;
}


.content{
  top: 60px;
  height: calc(100vh - 60px);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  padding: 20px;
}


.contact{
  width: 80%;
  max-width: 1080px;
  display: flex;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.28);
  border-radius: 5px;
  overflow: hidden;
}


.other{
  width: 60%;
  background: linear-gradient(to top, #3204fdba, #9907facc), url(https://images.unsplash.com/photo-1485119584289-30ca2b38c67e?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


.other:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, rgb(36, 51, 66), rgba(36, 51, 66, 0.81));
}


.form{
  width: 40%;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}
.form h1{
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}
.form form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.flex-rev {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 10px;
  width: 100%;
}

.flex-rev input, .flex-rev textarea {
  border: none;
  background-color: #e6e6e6;
  padding: 12px 10px;
  font-size: 16px;
  resize: none;
  margin-top: 7px;
  margin-bottom: 16px;
  border-radius: 5px;
  color: #243342;
  outline-color: #243342;
  outline-width: thin;
  -webkit-appearance: none;
}
.flex-rev textarea{
  height: 150px;
}
button{
  -webkit-appearance: none;
  margin-right: 0;
}


.info {
  letter-spacing: 0;
  font-family: Inter, sans-serif;
  padding: 20px;
}

h2 {}

.info h2 {
  color: #16f1dc;
  font-size: 34px;
}

.info h3 {
  color: white;
  letter-spacing: 1.2px;
  margin-top:  20px;
}

.svg-wrap {
  display: flex;
  margin-top: 14px;
}

.svg-wrap a {
  border: 0;
  padding: 0;
  display: flex;
  color: #bbbbbb;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  font-style: italic;
}

.svg-wrap a svg {
  width: 20px;
  height: 20px;
  fill: white;
  transition: fill 0.2s ease-in-out;
  margin-right: 13px;
}

.svg-wrap a:hover svg {
  fill: #16f1dc;
  cursor: pointer;
}

.svg-wrap a:hover {
  background-color: transparent;
  color: #16f1dc;
  cursor: pointer;
}



@media screen and (max-width: 900px){
  .content{
    padding: 10px 0 0;
    display: block;
  }
  .map{
    display: none;
  }
  .contact{
    width: 100%;
    flex-direction: column-reverse;
    border-radius: 0;
    box-shadow: 0px 0px 0px 0px;
  }
  .other{
    width: 100%;
    padding: 20px 0;
  }
  .form{
    width: 100%;
  }
}

@media screen and (max-height: 660px){
  .content{
    align-items: flex-start;
  }
}


@media screen and (max-width: 660px){
  nav .hamburger{
    opacity: 1;
    pointer-events: initial;
  }
  nav div.linkWrapper{
    top: 0;
    right: 0;
    position: fixed;
    height: 100vh;
    background-color: rgba(36, 51, 66, 0.9);
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.3);
    width: 100%;
    justify-content: center;
    will-change: transform;
    opacity: 0;
    display: none;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
  }

  nav div a {
    color: white;
    text-decoration: none;
    display: inline-block;
    font-weight: 300;
    letter-spacing: 1.5;
    width: 100%;
    margin-bottom: 31px;
    text-align: center;
    font-size: 38px;
  }
}